.popup-specialist {
  &__back {
    margin-bottom: 16px;
  }

  &__header {
    .ui-title {
      margin-bottom: 8px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .ui-field + .ui-field {
    margin-top: 20px;
  }
}
