.landing-home-page {
  overflow-x: hidden;

  &__section {
    margin-top: 32px;
  }

  &__footer {
    margin-top: 44px;
  }

  @media (min-width: $ui-laptop) {
    &__section {
      margin-top: 64px;
    }
  }
}
