.schedule {
  position: relative;
  display: flex;

  &__columns {
    display: flex;
  }

  &__table {
    position: relative;
    flex: 1;
    overflow-x: auto;
    border: 1px solid $ui-black-40;
  }

  &__timeline {
    margin-top: 60px;
    margin-right: 8px;
  }

  @media (max-width: $ui-laptop - 1px) {
    &__timeline {
      position: relative;
      z-index: 9;
      margin-right: -36px;
      pointer-events: none;
    }

    &__table {
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
  }
}
