.schedule {
  position: relative;
  display: flex;

  &__columns {
    display: flex;
  }

  &__column {
    min-width: #{$SCHEDULE_ROW_WIDTH + 1px} /* 1px border */;
    max-width: #{$SCHEDULE_ROW_WIDTH + 1px} /* 1px border */;
    border-right: 1px solid $ui-black-40;
  }

  &__inner {
    position: relative;
    flex: 1;
    overflow-x: auto;
    border: 1px solid $ui-black-40;
  }

  &__timeline {
    margin-top: 60px;
    margin-right: 8px;
  }

  &__specialist {
    @include ui-shadow-4;

    height: 60px;
    border-bottom: 1px solid $ui-black-40;
  }

  @media (max-width: $ui-laptop - 1px) {
    &__timeline {
      position: relative;
      z-index: 9;
      margin-right: -36px;
      pointer-events: none;
    }

    &__inner {
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
  }
}
