.ui-content {
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin: 24px 0 16px;
  }

  h3 {
    margin: 16px 0;
  }

  h4 {
    margin: 8px 0;
  }

  p {
    margin: 16px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin: 16px 0;
    padding-left: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    li + li {
      margin-top: 8px;
    }

    li {
      padding-left: 8px;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: $ui-black-100;
    text-decoration: underline;

    @include ui-hover {
      &:hover {
        color: $ui-black-hover-15;
      }
    }

    &:active {
      color: $ui-black-hover-15;
    }
  }

  b,
  strong {
    font-weight: bold;
  }

  table {
    display: block;
    max-width: max-content;
    margin: 16px 0;
    overflow: auto;
    border: 1px solid $ui-black-40;
    border-radius: 8px;
    border-collapse: separate;

    th,
    td {
      padding: 12px 16px;
      text-align: left;
    }

    tr {
      td,
      th {
        border-bottom: 1px solid $ui-black-40;
      }

      td + td,
      th + th {
        border-left: 1px solid $ui-black-40;
      }

      &:last-child {
        td,
        th {
          border-bottom: none;
        }
      }
    }

    th {
      font-weight: bold;
      background: $ui-black-20;
    }
  }

  sup {
    font-size: smaller;
    vertical-align: super;
  }

  em {
    font-style: italic;
  }

  pre {
    padding: 16px;
    overflow-x: auto;
    background: #f8f9fa;
    border-radius: 0.15rem;
  }

  code {
    @include ui-typo-14;

    padding: 0;
    background: none;
  }
}
