.schedule-column {
  &__grid {
    position: relative;
    display: grid;
    margin-top: -1px;
    background-image: linear-gradient(
      $ui-black-40,
      $ui-black-40 1px,
      rgba($ui-white, 0) 1.5px,
      rgba($ui-white, 0) $SCHEDULE_ROW_HEIGHT,
      #eaeaea,
      #eaeaea #{$SCHEDULE_ROW_HEIGHT + 1px},
      rgba($ui-white, 0) #{$SCHEDULE_ROW_HEIGHT + 1.5px},
      rgba($ui-white, 0) #{$SCHEDULE_ROW_HEIGHT * 2}
    );
    background-size: 100% #{$SCHEDULE_ROW_HEIGHT * 2};
    user-select: none;
  }

  &__cursor {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
