.landing-home-page-intro {
  &__logo {
    display: block;
    width: 88px;
    height: 88px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 20px;
    text-align: center;
  }

  &__sub-title {
    margin-top: 16px;
    color: $ui-black-60;
    text-align: center;
  }

  &__form {
    margin-top: 20px;

    .ui-form-validator {
      display: flex;
      justify-content: center;
    }
  }

  &__phone {
    width: 100%;
    margin-right: 12px;
  }

  @media (min-width: $ui-tablet) {
    &__phone {
      width: 260px;
    }

    &__action {
      .ui-button__prepend {
        display: none;
      }
    }
  }

  @media (max-width: $ui-tablet - 1px) {
    &__action {
      .ui-button__prepend {
        margin: 0;
      }

      .ui-button__content {
        display: none;
      }
    }
  }
}
