.auth-page-login {
  &__reset {
    margin: 8px 0 16px;
    color: $ui-blue-info;
    text-align: right;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__error {
    margin-bottom: 16px;
  }

  &__actions {
    display: flex;
    flex-direction: column;

    .ui-button {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  form {
    margin-top: 24px;
    padding: 24px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba($ui-black-100, 0.1);
  }

  .ui-field + .ui-field {
    margin-top: 20px;
  }

  @include ui-mobile-only {
    form {
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }
}
