
.schedule-page-queue-schedule-date-picker {
  width: 100%;

  .custom-ui-calendar {
    width: inherit;
  }

  .custom-ui-calendar-content {
    height: 256px;
    margin: 0 -5px;
  }

  .custom-ui-table {
    border-spacing: 5px 4px;
  }
}
