.procedures-page {
  &__header {
    margin-bottom: 24px;
  }

  &__group {
    margin-bottom: 24px;

    &:not(.procedures-page-group_has-category-id) {
      .procedures-page-group__title {
        display: none;
      }
    }
  }
}
