.specialists-page {
  &__navigation {
    margin-bottom: 24px;
  }
}

.specialists-page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  column-gap: 12px;
  row-gap: 24px;

  &__right {
    display: flex;
  }

  &__search {
    min-width: 265px;
    margin-right: 24px;
  }

  // @media (max-width: $ui-tablet - 1px) {
  //   &__right {
  //     display: none;
  //   }
  // }
}
