.schedule-calendar {
  display: flex;

  &__table {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto;
    border: 1px solid #e0e0e0;
  }

  &__timeline {
    flex-basis: 50px;
    margin-top: 68px;
    margin-right: 12px;
  }

  &__grid {
    display: flex;
    flex: 1;
  }

  &__grid-placeholder {
    flex: 1;
    min-width: 220px;
    background-color: $body-color;
    background-image: url('~@/assets/svg/disabled-time-pattern.svg');
  }

  @media (max-width: $ui-laptop - 1px) {
    &__timeline {
      position: relative;
      z-index: 9;
      margin-right: -50px;
      pointer-events: none;
    }

    &__table {
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
  }
}
