.ui-input {
  @include ui-typo-14;

  position: relative;
  display: flex;
  align-items: center;

  &:focus-within {
    .ui-input__icon {
      color: $ui-brand-blue;
    }
  }

  &__append {
    position: absolute;
    right: 12px;
    order: 1;

    ~ .ui-input__content {
      input {
        padding-right: 40px;
      }
    }
  }

  &__prepend {
    position: absolute;
    left: 12px;
    order: 3;

    ~ .ui-input__content {
      input {
        padding-left: 40px;
      }
    }
  }

  &__icon {
    color: $ui-black-60;
    transition: color var(--ui-transition-hover);
  }

  &__clear {
    color: $ui-black-60;
    cursor: pointer;
    transition: color var(--ui-transition-hover);
    user-select: none;

    &:hover {
      color: $ui-black-100;
    }

    &::after {
      position: absolute;
      top: -8px;
      right: -16px;
      bottom: -8px;
      left: -4px;
      content: '';
    }
  }

  &__content {
    order: 2;
    width: 100%;

    input {
      height: 44px;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 126px;
      padding-top: 16px;
      padding-bottom: 8px;
    }
  }

  &__input {
    width: 100%;
    padding: 0 16px;
    color: $ui-black-100;
    font-size: inherit;
    line-height: inherit;
    background: $ui-white;
    border: 1px solid $ui-black-40;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba($ui-white, 0);
    transition:
      border var(--ui-transition-hover),
      box-shadow var(--ui-transition-hover),
      background-color var(--ui-transition-hover);
    appearance: none;
    caret-color: $ui-brand-blue;

    @media (hover: hover) {
      &:not(:disabled):hover {
        border-color: $ui-brand-blue;
      }
    }

    &:focus {
      border-color: $ui-brand-blue;
      box-shadow: 0 0 0 1px $ui-brand-blue;
    }

    &:disabled {
      background: $ui-black-10;
    }

    @include placeholder {
      color: $ui-black-60;
    }
  }
}
