.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $ui-menu-desktop-width;
  height: 100%;
  padding: 16px 0;
  box-shadow: 1px 0 0 $ui-black-20;

  &__logo {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }

  &__space {
    flex: 1;
  }

  .menu-item {
    margin-bottom: 16px;
  }

  @media (max-width: $ui-laptop - 1px) {
    @include ui-shadow-4;

    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    padding: 0 8px;

    &__logo,
    &__space {
      display: none;
    }

    .menu-item {
      margin: 0 4px;
    }
  }
}
