.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $ui-black-20;
  border-radius: 16px;

  &.router-link-active,
  &:hover {
    background-color: $ui-brand-green;

    .ui-icon {
      color: #fff;
    }
  }
}
