.navbar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $ui-black-50;
  border-radius: 8px;

  &._active,
  &.router-link-active {
    color: $ui-brand-blue;
  }

  &__name {
    @include ui-typo-10;

    display: block;
  }

  @media (min-width: $ui-laptop) {
    @include ui-hover {
      &:hover {
        background-color: $ui-black-20;
      }
    }

    &__name {
      display: none;
    }
  }
}
