.auth-page-company-create {
  &__inner {
    width: 460px;
  }

  &__back {
    margin-bottom: 24px;
  }

  &__header {
    text-align: center;

    .ui-title {
      margin-bottom: 8px;
      font-weight: 700;
    }
  }

  &__button {
    width: 100%;
    margin-top: 16px;
  }

  form {
    margin-top: 24px;
    padding: 24px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba($ui-black-100, 0.1);
  }

  .ui-field + .ui-field {
    margin-top: 24px;
  }

  @include ui-mobile-only {
    width: 100%;

    form {
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }
}
