@import './Popover_top';
@import './Popover_right';
@import './Popover_bottom';
@import './Popover_left';

@mixin ui-popover-opened {
  .ui-popover__body,
  .ui-popover__arrow {
    visibility: visible;
  }
}

.ui-popover {
  position: relative;

  &_opened {
    @include ui-popover-opened;
  }

  &_theme_dark {
    --popover-theme-color: #{$ui-black-100};

    .ui-popover__body {
      color: $ui-white;
      background: $ui-black-100;
    }
  }

  &_theme_white {
    --popover-theme-color: #{$ui-white};

    .ui-popover__body {
      color: $ui-black-100;
      background: var(--popover-theme-color);
    }
  }

  &_size_m {
    .ui-popover__body {
      --ui-popover-padding: 16px;

      padding: 16px;
    }
  }

  &_size_s {
    .ui-popover__body {
      --ui-popover-padding: 8px;

      padding: 8px;
    }
  }

  &__body {
    @include ui-shadow-16;

    position: absolute;
    z-index: 15;
    border-radius: 4px;
    visibility: hidden;
  }

  &__arrow {
    position: absolute;
    z-index: 16;
    visibility: hidden;
  }

  /**
   *       Popover
   *         ↓
   *     ----------
   *    | Element |
   *    ----------
  **/

  &_top {
    @include ui-popover_top;

    &_start {
      @include ui-popover_top_start;
    }

    &_middle {
      @include ui-popover_top_middle;
    }

    &_end {
      @include ui-popover_top_end;
    }
  }

  /**
   *     ----------
   *    | Element | ← Popover
   *    ----------
   */

  &_right {
    @include ui-popover_right;

    &_start {
      @include ui-popover_right_start;
    }

    &_middle {
      @include ui-popover_right_middle;
    }

    &_end {
      @include ui-popover_right_end;
    }
  }

  /**
   *     ----------
   *    | Element |
   *    ----------
   *        ↑
   *     Popover
   */

  &_bottom {
    @include ui-popover_bottom;

    &_start {
      @include ui-popover_bottom_start;
    }

    &_middle {
      @include ui-popover_bottom_middle;
    }

    &_end {
      @include ui-popover_bottom_end;
    }
  }

  /**
   *            ----------
   * Popover → | Element |
   *           ----------
   */

  &_left {
    @include ui-popover_left;

    &_start {
      @include ui-popover_left_start;
    }

    &_middle {
      @include ui-popover_left_middle;
    }

    &_end {
      @include ui-popover_left_end;
    }
  }
}
