.appointment {
  &__client {
    display: flex;
    align-items: center;
    // font-weight: bold;
  }

  &__sub-title {
    @include ellipsis(2);

    flex: 1;
    align-items: flex-start;
    margin: 4px 0;
    opacity: 0.6;

    .ui-text__content {
      white-space: pre-line;
    }
  }

  &__info {
    display: flex;
    flex: 1;
    align-items: center;

    .ui-icon {
      color: inherit;
      opacity: 0.6;
    }

    .ui-text {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
