@mixin ui-button_size_32 {
  @include ui-typo-12;

  height: 32px;
  padding: 0 16px - 1px/* border */;
  font-weight: 500;

  .ui-button__prepend {
    margin-right: 4px;
    margin-left: -8px - 1px/* border */;
  }

  .ui-button__append {
    margin-right: -8px - 1px/* border */;
    margin-left: 4px;
  }
}
