.ui-toast {
  @include ui-shadow-16;

  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: $ui-black-100;
  background: $ui-white;
  border-radius: 10px;

  &_theme_success {
    .ui-icon {
      color: $ui-green-brand;
    }
  }

  &_theme_error {
    .ui-icon {
      color: $ui-red-danger;
    }
  }

  &_theme_info {
    .ui-icon {
      color: $ui-blue-info;
    }
  }

  &_theme_warning {
    .ui-icon {
      color: $ui-orange-warning;
    }
  }

  &__prepend {
    flex-shrink: 0;
    margin-right: 8px;
    margin-left: -4px;
  }

  &__append {
    flex-shrink: 0;
    margin-left: 8px;
  }

  &__content {
    flex: 1;
    white-space: nowrap;
  }

  // @include ui-mobile-only {
  //   @media (max-width: $ui-tablet - 1px) {
  //     width: 328px;
  //   }
  // }
}
