.dashboard-layout {
  min-height: 100vh;
  padding-left: $ui-menu-desktop-width;
  background: $ui-gray-brand;

  &._has-sidebar {
    padding-left: calc(#{$SCHEDULE_APPOINTMENT_WIDTH} + #{$ui-menu-desktop-width + 26px});
  }

  &__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
    display: flex;
    background: #fff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  @media (max-width: $ui-laptop - 1px) {
    padding-bottom: calc(#{$ui-menu-desktop-width} + var(--safe-area-inset-bottom));
    padding-left: 0;

    &._has-sidebar {
      padding-left: 0;
    }

    &__nav {
      top: initial;
      right: 0;
    }
  }
}
