.dashboard-layout {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding: 24px 0;
  padding-left: $ui-navbar-desktop-width;
  background: $ui-gray-brand;

  &__navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
  }

  &__container {
    flex: 1;
  }

  @media (max-width: $ui-laptop - 1px) {
    padding-bottom: #{$ui-navbar-desktop-width + 16px};
    padding-bottom: calc(#{$ui-navbar-desktop-width + 16px} + var(--safe-area-inset-bottom));
    padding-left: 0;

    &__navbar {
      top: initial;
      right: 0;
    }
  }
}
