@mixin tab-button_active {
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: $ui-brand-blue;
    content: '';
  }
}

.ui-tab-button {
  padding: 12px 0;
  color: $ui-black-100;

  &:hover,
  &_active {
    @include tab-button_active;
  }
}
