.specialist-info-page {
  &__avatars {
    margin-bottom: 20px;
  }

  &__created-at {
    margin-top: 20px;
  }

  &__button {
    display: flex;
    width: 100%;
    margin-top: 24px;
  }

  .ui-field + .ui-field {
    margin-top: 20px;
  }
}
