.analytics-finance-page {
  min-height: 500px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .ui-field {
      margin-left: 24px;
    }
  }

  &__numbers {
    margin-bottom: 24px;
  }

  @include ui-mobile-only {
    &__header {
      flex-direction: column;
      align-items: flex-start;

      .ui-field {
        margin-top: 16px;
        margin-left: 0;
      }
    }
  }
}
