.specialist-page-layout {
  padding: 24px 0 40px;

  &__back {
    margin-bottom: 16px;
  }

  &__title,
  &__navigation,
  &__company-picker,
  &__phone-confirmation {
    margin-bottom: 24px;
  }
}
