.schedule {
  --time-line-width: 50px;

  position: relative;
  display: flex;

  &__inner {
    position: relative;
    flex: 1;
    overflow-x: auto;
    border: 1px solid $ui-black-40;
  }

  &__columns {
    display: flex;
  }

  &__column {
    width: 100%;
    min-width: $SCHEDULE_ROW_WIDTH;
    max-width: 500px;
  }

  &__column + &__column {
    min-width: #{$SCHEDULE_ROW_WIDTH + 1px} /* 1px border */;
    border-left: 1px solid $ui-black-40;
  }

  &__timeline {
    margin-top: calc(60px - #{$SCHEDULE_ROW_HEIGHT / 2});
    margin-right: 16px;
    margin-bottom: -#{$SCHEDULE_ROW_HEIGHT / 2};
  }

  &__specialist {
    @include ui-shadow-4;

    height: 60px;
    border-bottom: 1px solid $ui-black-40;
  }

  @media (max-width: $ui-laptop - 1px) {
    &__timeline {
      margin: 0;
      padding-top: 60px;
      border-right: 1px solid #dbdbe0;

      .schedule-timeline__item {
        &:last-child {
          display: none;
        }
      }
    }

    &__inner {
      border-right: none;
      border-left: none;
    }
  }

  @media (min-width: $ui-laptop) {
    --time-line-width: 36px;
  }
}
