.specialist-settings-page {
  .ui-divider {
    margin: 24px 0;
  }

  .ui-field + .ui-field {
    margin-top: 20px;
  }

  &__button {
    display: flex;
    width: 100%;
    margin-top: 24px;
  }
}
