.landing-header {
  background: $ui-white;
  border-bottom: 1px solid $ui-black-20;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(56px - 1px/* border-bottom*/);
  }

  &__logo {
    img {
      width: 32px;
      border-radius: 8px;
    }
  }

  &__nav {
    display: none;
  }

  &__actions {
    display: none;
  }

  @media (min-width: $ui-tablet) {
    &__burger,
    &__mobile-menu {
      display: none;
    }

    &__nav {
      display: flex;
      flex: 1;
      justify-content: center;
      height: 100%;
    }

    &__logo,
    &__actions {
      display: flex;
      width: 165px;
    }
  }
}
