.schedule-hour-tile {
  position: relative;
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__icon {
    color: $ui-black-100;
    transition: $ui-transition;
  }
}
