@mixin appointment_size_xs {
  .appointment {
    &__header,
    &__duration,
    &__sub-title {
      display: none;
    }

    &__title,
    &__price {
      font-size: 12px;
      line-height: 16px;
    }

    &__price {
      margin-left: 8px;
      color: $ui-black-60;
    }

    &__inner {
      flex-direction: row;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
