@import './Appointment_size_xs.scss';
@import './Appointment_size_s.scss';
@import './Appointment_size_m.scss';
@import './Appointment_size_l.scss';

.appointment {
  @include ui-shadow-4;

  --appointment-status-color: #{$ui-black-80};

  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  margin: 3px 4px;
  padding: calc(4px - 1px /* border */);
  background: $ui-white;
  border: 1px solid $ui-white;
  border-radius: 6px;

  &::before {
    position: absolute;
    top: -4px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    content: '';
  }

  &_status {
    &_IN_PROGRESS {
      --appointment-status-color: #{$ui-orange-brand};
    }

    &_COMPLETED {
      --appointment-status-color: #{$ui-green-brand};
    }

    &_CANCELED {
      --appointment-status-color: #{$ui-red-danger};
    }

    &_IN_PROGRESS_WIDGET {
      --appointment-status-color: #{$ui-widget-brand};
    }
  }

  &:not(&_responsive) {
    height: 128px;
  }

  &_responsive {
    &.appointment {
      &_size_xs {
        @include appointment_size_xs;
      }

      &_size_s {
        @include appointment_size_s;
      }

      &_size_m {
        @include appointment_size_m;
      }

      &_size_l {
        @include appointment_size_l;
      }
    }
  }

  &_is-active {
    border: 1px solid $ui-blue-brand;
  }

  &__divider {
    min-width: 4px;
    max-width: 4px;
    height: 100%;
    background-color: var(--appointment-status-color);
    border-radius: 8px;
    content: '';
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-left: 4px;
    padding: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .ui-badge {
      height: 20px;
      color: $ui-white;
      font-weight: 500;
      text-transform: capitalize;
      background-color: var(--appointment-status-color);
      border-radius: 24px;
    }
  }

  &__type {
    color: $ui-black-60;
  }

  &__title {
    @include ui-truncate;

    min-height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__sub-title {
    @include ui-truncate(2);

    flex-grow: 1px;
    margin-top: 4px;
    color: $ui-black-60;
  }

  &__space {
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 4px;
  }

  &__duration {
    color: $ui-black-90;

    .ui-icon {
      color: $ui-black-50;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }
}
