.landing-home-page-features {
  border-bottom: 1px solid $ui-black-20;

  &__panel {
    padding: 16px 16px 0;
    background-color: $ui-black-10;
    border-radius: 12px;
  }

  &__tabs {
    position: relative;
    padding-bottom: calc(40% + 24px);

    .ui-tab-body {
      position: absolute;
      top: calc(48px + 32px);
      right: 0;
      bottom: 0;
      left: 0;
    }

    .ui-tab-button-list {
      margin: 0 -16px 32px;
      padding: 0 16px;

      [data-key='schedule'] {
        .ui-icon {
          color: $ui-blue-brand;
        }
      }

      [data-key='appointment'] {
        .ui-icon {
          color: $ui-widget-brand;
        }
      }

      [data-key='analytics'] {
        .ui-icon {
          color: #6aceee;
        }
      }
    }
  }

  &__disclaimer {
    padding: 24px 0;
    text-align: center;
  }

  @media (min-width: $ui-tablet) {
    &__panel {
      padding-top: 32px;
    }
  }
}
