.dashboard-page-number {
  display: flex;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 16px;
    color: #fff;
    border-radius: 12px;
  }

  &__text {
    .ui-text {
      @include ellipsis(1);

      color: $ui-black-60;
    }
  }

  &._theme {
    &_blue {
      .dashboard-page-number {
        &__icon {
          background-color: $ui-brand-blue;
        }
      }
    }

    &_green {
      .dashboard-page-number {
        &__icon {
          background-color: $ui-brand-green;
        }
      }
    }

    &_yellow {
      .dashboard-page-number {
        &__icon {
          background-color: $ui-yellow-dark;
        }
      }
    }
  }
}
