.base-layout-header {
  padding: 24px 0;
  background: $ui-gray-brand;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;

    & > .ui-text {
      margin-right: 16px;

      .ui-icon {
        color: $ui-black-80;
      }
    }
  }
}
