.base-layout-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
    padding: 24px 0;
  }

  &__profile,
  &__selector {
    margin: 0 8px;
  }

  &__companies {
    .ui-button {
      width: 100%;
    }
  }
}
