.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $ui-navbar-desktop-width;
  height: 100%;
  padding: 24px 0;
  box-shadow: 1px 0 0 $ui-black-20;

  &__logo {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }

  &__avatar {
    cursor: pointer;
  }

  &__space {
    flex: 1;
  }

  .navbar-item {
    margin-bottom: 16px;
  }

  @media (max-width: $ui-laptop - 1px) {
    @include ui-shadow-4;

    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: $ui-navbar-desktop-width;
    height: calc(#{$ui-navbar-desktop-width} + var(--safe-area-inset-bottom));
    padding: 0 8px;
    padding-bottom: var(--safe-area-inset-bottom);

    &__logo,
    &__space {
      display: none;
    }

    .navbar-item {
      margin: 0 4px;
    }
  }
}
