.analytics-appointments-page-line-chart {
  &__point {
    .ui-text {
      margin-bottom: 8px;

      &__prepend {
        .ui-icon {
          width: 8px;
          height: 8px;
        }
      }

      &__content {
        width: 100px;
        color: $ui-black-50;
      }

      &._blue {
        .ui-icon {
          color: $ui-blue-brand;
        }
      }

      &._green {
        .ui-icon {
          color: $ui-green-brand;
        }
      }

      &._orange {
        .ui-icon {
          color: $ui-orange-brand;
        }
      }

      &._purple {
        .ui-icon {
          color: $ui-widget-brand;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
