.procedures-page-group {
  &_has-category-id {
    .procedures-page-group {
      &__title {
        display: inline-flex;
        cursor: pointer;

        .ui-title__append {
          display: block;
        }

        @include ui-hover {
          &:hover {
            color: $ui-blue-brand;

            .ui-title__append {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__title {
    display: none;
    margin-bottom: 12px;
    color: $ui-black-100;
    transition: color var(--ui-transition-hover);

    .ui-title__append {
      display: none;
      color: $ui-blue-brand;
      opacity: 0;
    }
  }
}
