.procedures-page-procedure-card {
  @include ui-hover {
    &:hover {
      border-color: $ui-blue-brand;
    }
  }

  &__title {
    @include ui-truncate(1);

    margin-bottom: 4px;
  }

  &__sub-title {
    @include ui-truncate(2);

    height: 32px;
    color: $ui-black-60;
  }

  &__duration {
    color: $ui-black-60;
  }

  &__price {
    margin-top: 4px;
  }

  &__hand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: -10px;
    color: $ui-black-50;
    cursor: grab;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 12px;
  }

  @media (min-width: $ui-tablet) {
    &__sub-title {
      height: 40px;
    }
  }
}
