.dashboard-layout {
  --site-fixed-tab-bar-height: 56px;

  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding-left: $ui-navbar-desktop-width;
  background: $ui-black-10;

  &__navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
  }

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__header,
  &__sms-alert {
    margin: 24px 0;
  }

  &__footer {
    padding-bottom: 44px;
  }

  @media (max-width: $ui-laptop - 1px) {
    padding-left: 0;

    &__footer {
      padding-bottom: calc(
        24px +
        #{$ui-navbar-desktop-width} +
        var(--safe-area-inset-bottom)
      );
    }

    &__navbar {
      top: initial;
      right: 0;
    }
  }
}
