.landing-home-page-review {
  background-color: $ui-black-10;
  border: none;

  &__quote {
    height: 26px;
  }

  &__text {
    margin-top: 16px;
  }

  &__author {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 56px auto;
    margin-top: 16px;
  }

  &__image {
    grid-row: 1 / span 2;
    width: 100%;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    grid-column: 2;
  }

  &__info {
    grid-column: 2;
    color: $ui-blue-brand;
  }
}
