.ui-avatar {
  @mixin ui-avatar_circle {
    .ui-avatar {
      &__image,
      &__letter {
        border-radius: 50%;
      }
    }
  }

  @mixin ui-avatar_rounded {
    .ui-avatar {
      &__image,
      &__letter {
        border-radius: 8px;
      }
    }
  }

  @mixin ui-avatar_size_s {
    @include ui-typo-14;

    width: 24px;
    height: 24px;
  }

  @mixin ui-avatar_size_m {
    @include ui-typo-16;

    width: 36px;
    height: 36px;
  }

  @mixin ui-avatar_size_l {
    @include ui-typo-24;

    width: 48px;
    height: 48px;
  }

  @mixin ui-avatar_size_xl {
    @include ui-typo-36;

    width: 64px;
    height: 64px;
  }

  @mixin ui-avatar_size_xxl {
    @include ui-typo-44;

    width: 80px;
    height: 80px;
  }

  & > div {
    width: 100%;
    height: 100%;
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__letter {
    display: flex;
    align-items: center;
    color: $ui-black-100;
    background: #fff;
    border: 1px solid #d6d6d6;

    p {
      width: 100%;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &_type_circle {
    @include ui-avatar_circle;
  }

  &_type_rounded {
    @include ui-avatar_rounded;
  }

  &_size_s {
    @include ui-avatar_size_s;
  }

  &_size_m {
    @include ui-avatar_size_m;
  }

  &_size_l {
    @include ui-avatar_size_l;
  }

  &_size_xl {
    @include ui-avatar_size_xl;
  }

  &_size_xxl {
    @include ui-avatar_size_xxl;
  }

  @include ui-mobile-only {
    &_responsive {
      &.ui-avatar {
        &_size_m {
          @include ui-avatar_size_s;
        }

        &_size_l {
          @include ui-avatar_size_m;
        }

        &_size_xl {
          @include ui-avatar_size_l;
        }

        &_size_xxl {
          @include ui-avatar_size_xl;
        }
      }
    }
  }
}
