.schedule-page {
  padding-bottom: 32px;

  &__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 64px;
    z-index: 19;
    width: calc(#{$SCHEDULE_APPOINTMENT_WIDTH} + 26px);
  }

  @media (max-width: $ui-laptop - 1px) {
    .schedule-page {
      &__sidebar {
        left: 0;
        display: none;

        &._opened {
          display: block;
        }
      }
    }

    &__calendar {
      margin: 0 calc(-1 * var(--ui-container-padding));
    }
  }
}
