.full-widget-layout {
  --full-widget-footer-height: calc(112px + var(--safe-area-inset-bottom));

  position: relative;
  padding: 24px 16px;
  padding-bottom: calc(var(--full-widget-footer-height) + 44px);

  &__container {
    max-width: 552px;
    margin: 0 auto;
  }

  &__back {
    margin-block: 16px;
  }

  &__logo {
    display: block;
    margin-bottom: 12px;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__disclaimer {
    strong {
      font-weight: 700;
    }
  }

  &__footer {
    @include ui-safe-bottom;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--full-widget-footer-height);
    padding: 0 16px;
    text-align: center;
    background-color: $ui-white;
    border-top: 1px solid $ui-black-20;
  }

  &__fixed-panel {
    @include ui-shadow-4-inverse;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 12px 16px;
    background-color: $ui-white;
  }
}
